@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #0073ec;
  --new-blue: #133de2;
  --dark-bg: #0a0a0a;
  --dark-section: #080808;
  --purple-bg: #110536;
  --text-dark: #000000;
  --text-light: #ffffff;
  --text-grey: #4d4d4d;
  --text-light-grey: #a4a4a4;
  --border-grey: #e8e8e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-blue: var(--primary-blue);
  --color-new-blue: var(--new-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-grotesque: var(--font-grotesque);
  --font-inter: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

button,
a {
  @apply cursor-pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.container {
  @apply max-md:px-5;
}